
/* основные параметры горизонтали страницы (для глобальных блоков), в коде html нужно указать высоту */
.main_params_size 
{
	width:80%; 	
	margin-left:auto;
	margin-right:auto;
}
.hidden_child /*внутренний элемент (ребенок), который не будет виден на странице, но при этом занимает место  */
{
	visibility: hidden;
}







/* применяется к блоку-заголовку страницы */

/*
#header_div
{
	background-color:SaddleBrown; 
	margin-top:20px;
	height:80px; 
	border-radius: 20px; 
}

#header_div > div 
{
	background-color:SaddleBrown; 
	position: relative;
}
#header_div > div > p
{
	color: OrangeRed;
	bottom: 10%;
	font-size: 18px;
	position: absolute;

}
#header_div a
{
	color: OrangeRed;
}
#header_div a[kursiv="1"]
{
	color: White;
	font-style: italic;
}
#header_div a:hover 
{
  color: gray;
}
*/

/* применяется к блоку-подвалу страницы */
/*
#footer_div
{
	background-color:DarkSlateGray; 
	margin-bottom:20px;
	height:70px; 
	border-radius: 10px; 
}
#footer_div > div 
{
	background-color:DarkSlateGray; 
}
#footer_div > div > p
{
	color: white;
	font-size: 12px;
	margin-top: 2px;
}
#footer_div a
{
	color: White;
	font-style: italic;
}
#footer_div a:hover 
{
  color: gray;
}

#sidebar_div a
{
  color: Olive;  
}
#sidebar_div a:hover 
{
  color: red;
  font-weight: bold;
}
*/

/* применяется к db_left_div */
#db_left_div button
{
	transition: all 0.2s;
    cursor: pointer;
    box-shadow: 2px 5px 1px 0px rgb(72, 61, 139);   
	
	/*
		 box-shadow parameters:  (example - box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5))
		1. x-offset, определяет горизонтальное положение тени;
		2. y-offset, определяет вертикальное положение тени;
		3. радиус размытия, который влияет на резкость тени. Чем выше значение, тем менее насыщенные тени, и наоборот;	
		4. четвёртое значение определяет распространение тени.
		5. color of shadow				
		*/
		
}
#db_left_div button:active
{
    box-shadow: 2px 2px 2px 0px rgb(52, 31, 39);   
    transform:translatey(3px);
    color: white;
} 

