*
{
	padding: 0;
	margin: 0;
	border: none;
}
body 
{
	height:100%;
	background-color: LightYellow;
}
div
{
	display: block;
	background-color: #CCC;
	border: 1px solid DeepSkyBlue;
	height: auto;
	min-height: 10px;
}
p
{
	border: 1px solid black;	
	height: auto;
	width: 100%;	
}
a 
{
  outline: none;
  text-decoration: none;
  color: DarkBlue;
}
table
{
	width: 100%;
	height: auto;
}
img
{
	//max-width: 95%;
	width: auto;
	
}
button
{
	width: 100%;
	height: auto;
}
select
{
	height: auto;
	min-width: 50px;
}
select option
{
	//border-radius: 35px;
	//background-color: PaleGreen;	
}
input
{
	height: auto;
	min-width: 20px;
	float:left;
}


